.flex-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    margin: 10px;
    flex: 0 0 calc(50% - 20px);
}

.container {
    max-width: 1200px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

