.flex-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.card {
    margin: 10px;
    flex: 0 0 calc(50% - 20px);
}

.container {
    max-width: 1200px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.col-lg-3 {
    padding: 10px;
    text-align: center;
    margin: auto;
}

.col-sm-4 {
    padding: 10px;
    text-align: center;
    margin: auto;
}

body {
    background: #3e4649;
    color: #EDF0F0;
}

.h-90.p-5 {
    color: #EDF0F0;
}


h1 {
    color: #EDF0F0;
}

.btn {
    background: #91A395;
    border-color: #3e4649;
    position: center;
}

.card-body {
    white-space: normal;
    word-wrap: break-word;
}