{% extends 'base.html' %}


{% block body %}
<div class="content">
    {% if vegetables|length < 1 %} <h4 style="text-align: center">There are no vegetables. Create one below!</h4>
        {% else %}
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered border-primary align-middle">
                <thead class="table-light">
                    <th>Vegetable</th>
                    <th>When to Sow</th>
                    <th>Sow Type</th>
                    <th>How Many Days to Harvest</th>
                    <th>Plant Spacing</th>
                    <th>Seed Depth</th>
                    <th>Sow Window</th>
                    <th>Transplant Window</th>
                    <th>Harvest Window</th>
                </thead>
                {% for item in vegetables %}
                <tr>
                    <td>{{ item.vegetable }}</td>
                    <td>{{ item.sow_timeline }}</td>
                    <td>{{ item.sow_type }}</td>
                    <td>{{ item.harvest_days }}</td>
                    <td>{{ item.plant_spacing }}</td>
                    <td>{{ item.seed_depth }}</td>
                    <td>{{ item.sow_window }}</td>
                    <td>{{ item.transplant_window }}</td>
                    <td>{{ item.harvest_window }}</td>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>

        {% endif %}

        <p><a href="{{ url_for('update_vegetable') }}">Add another vegetable!</a></p>
</div>
{% endblock %}