{% extends 'base.html' %}


{% block body %}

<section class="container">
    <h1>Forecast</h1>
    <hr>
</section>
<section class="flex-container">
    <div class="row">
        {% for item in time_period %}
        <div class="col-lg-4 col-sm-4">
            <div class="h-90 p-5 bg-secondary border border-dark rounded-3">
                <img class="rounded-circle" src={{temp_icon[loop.index0]}} width="50%" height="50%"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                </img>

                <div class="card-body">
                    <h2>{{item}}</h2>
                    <p class="card-text">{{forecast[loop.index0]}}</p>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}