{% extends 'base.html' %}


{% block body %}
<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered border-primary align-middle">
        <thead class="table-light">
            <th>Time Period</th>
            <th>Temperature</th>
            <th>Detailed Forecast</th>
            <th>temp_icon</th>
        </thead>
        {% for item in time_period %}
        <tr>
            <td>{{item}}</td>
            <td>{{temperature[loop.index0]}}</td>
            <td>{{forecast[loop.index0]}}</td>
            <td><img src={{temp_icon[loop.index0]}}></img></td>
        </tr>
        {% endfor %}

</div>

{% endblock %}