{% extends 'base.html' %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Things to do today!</h1>
            <div class="card">
                <div class="card-body">
                    {% for key, value in tasks.items() %}
                    {% if value == "Direct" %}
                    <a href="/list/{{ key }}" class="btn btn-info" role="button"> {{ key }} can be Direct Sown Today
                    </a>
                    <hr>
                    {% elif value == "Transplant" %}
                    <a href="/list/{{ key }}" class="btn btn-info" role="button"> {{ key }} can be Transplanted Today
                    </a>
                    <hr>
                    {% elif value == "Harvest" %}
                    <a href="/list/{{ key }}" class="btn btn-info" role="button"> {{ key }} can be Harvested Today
                    </a>
                    <hr>

                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}